VITE_FIREBASE_API_KEY=AIzaSyBYdgmn-sZOgzt5vWBO-Ba-y88RQD9A6zc
VITE_FIREBASE_AUTH_DOMAIN=hall-arrangement.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hall-arrangement
VITE_FIREBASE_STORAGE_BUCKET=hall-arrangement.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=795132754912
VITE_FIREBASE_APP_ID=1:795132754912:web:9ddf895668162e194b0985
VITE_FIREBASE_MEASUREMENT_ID=G-LF3KZT6VLQ